
*,
*::after,

* ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body {

    background-color: rgb(249,242,214);
    font-family: ubuntu ,sans-serif;


}
.cards-section a{
    padding: 0;
     
}
